#form-workspace
  .header#form-workspace-header
  #form-wrapper
    %form{ :action => "/", :method => "post" }
  .footer#form-workspace-footer
    = partial 'new_field_form'

.section#copy-html
  %textarea

.section#copy-css
  %textarea
