.field

  %span.label-wrapper
    %label{ :for => @input_id }= @label_text

  %span.input-wrapper
    %span.context
      %input.text{ :type => "text", :id => @input_id, :name => @input_id }

  %span.error-wrapper
    %span.error-message

  %span.tool-tip-wrapper
    %span.tool-tip
