%script#field-template{ :type => "text/html" }
  :plain

    {{if type === "text"}}
      <div class="field" id="${standard.attr}-field">
        <span class="label-wrapper">
          <label for="${standard.attr}"><span class="label-text">${standard.text}</span></label>
        </span>

        <span class="input-wrapper">
          <span class="input-status">
            <input type="text" class="text" id="${standard.attr}" />
          </span>
        </span>
      </div>
    {{/if}}

    {{if type === "radio"}}
      <fieldset id="${standard.attr}-fieldset">
        <legend>${standard.text}</legend>
        {{each options}}
          <span class="label-wrapper">
            <label for="${standard.attr}-${attr}"><span class="label-text">${text}</span></label>
          </span>
          <span class="input-wrapper">
            <span class="input-status">
              <input type="radio" class="text" name="${standard.attr}" id="${standard.attr}-${attr}" value="${attr}" />
            </span>
          </span>
        {{/each}}
      </fieldset>
    {{/if}}
