%script#field-template{ :type => "text/html" }
  :plain
    <div class="field" id="${inputid.value}-field">

    {{if "text" === type.value}}
      <span class="label-wrapper">
        <label for="${inputid.value}"><span class="label-text">${labeltext.value}</span></label>
      </span>

      <span class="input-wrapper">
        <span class="input-status">
          <input type="text" class="text" id="${inputid.value}" />
        </span>
      </span>
    {{/if}}

    {{if "radio" === type.value}}
      <span class="label-wrapper">
        <label for="${inputid.value}"><span class="label-text">${labeltext.value}</span></label>
      </span>
      
      <fieldset>
        <legend>${labeltext.value}</legend>
        {{each options}}
        <span class="label-wrapper">
          <label for="${name}"><span class="label-text">${labeltext.value}</span></label>
        </span>
        <span class="input-wrapper">
          <span class="input-status">
            <input type="radio" class="text" id="${inputid.value}[${inputvalue.value}]" />
          </span>
        </span>
        {{/each}}
      </fieldset>
    {{/if}}

    </div>
