%form#add-field-form
  #new-field-parameters
    #new-field-type
      %select#field-type
        %option{ :value => ""         } Choose a field type
        %option{ :value => "text"     } Text
        %option{ :value => "radio"    } Radios
        %option{ :value => "checkbox" } Checkbox
        %option{ :value => "select"   } Select
        %option{ :value => "submit"   } Submit

    %fieldset.param-group#new-text
      %legend Text Field
      .standard
        .field
          %label{ :for => "text-label-text" }
            %span Text to display in the field&rsquo;s <strong>label</strong>.
          %input#text-label-text.required.text-value
        .field
          %label{ :for => "text-input-id" }
            %span The <strong>ID</strong> to use for the field and input.
          %input#text-input-id.required.attr-value

    %fieldset.param-group#new-radio
      %legend Radio Buttons
      .standard
        .field
          %label{ :for => "radio-label-text" }
            %span Text to display in the field&rsquo;s <strong>label</strong>.
          %input#radio-label-text.required.text-value
        .field
          %label{ :for => "radio-input-id" }
            %span The <strong>ID</strong> to use for the field and input.
          %input#radio-input-id.required.attr-value
      %ul.options
        %li
          .field
            %label{ :for => "radio-option-1-label" }
              %span Option 1 label
            %input#radio-option-1-label.required.text-value
          .field
            %label{ :for => "radio-option-1-value" }
              %span Option 1 value
            %input#radio-option-1-value.required.attr-value
        %li
          .field
            %label{ :for => "radio-option-2-label" }
              %span Option 2 label
            %input#radio-option-1-label.required.text-value
          .field
            %label{ :for => "radio-option-2-value" }
              %span Option 2 value
            %input#radio-option-1-value.required.attr-value

  .field
    %input{ :type => "submit", :value => "Add a new field" }
    %a#add-field
      %span Add a new field
